@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
  --shark-black: #212529;
  --text-white: #fefefe;
  --mojo-red: #c23a3e;
  --outline-gray: #808080;
  --dark-cyan: #0092a0;
  --lime-green: #12de97;
  --dark-blue: #040358;
  --dark-violet: #260f36;
  --sunset-red: #f63f44;
  --burnt-umber-red: #902528;
  --apricot-orange: #e59e6f;
  --envy-green: #8ba78d;
  --validation-green: #28a745;
  --chenin: #ded582;
  --input-background-white: #fff0f0;

  /* CHECK */

  --white: #fff;
  --white-2: #f5f5f5;
  --white-3: #ededed;
  --white-4: #f1f1f1;
  --white-5: #f0fff0;
  --black: #000;
  --black-2: #333;
  --black-3: #444;
  --red: #ff0000;
  --transparent: transparent;
  --shadow: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Vollkorn", serif;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
